body {
    background-color: #222;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
}

header, main, footer {
    padding: 20px;
    box-sizing: border-box;
    max-width: 800px; /* Set your desired max-width */
    margin: 0; /* Set margin to 0 for left alignment */
}

header h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle; /* Align the text vertically */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    margin-right: 15px;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="text"], input[type="password"], textarea {
    background-color: #333;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 150px;
}

main h2 {
    margin: 0;
    display: inline-block;
    vertical-align: middle; /* Align the text vertically */
}

section {
    margin-bottom: 20px;
}

section img {
    max-width: 100%; /* Ensure the image doesn't exceed its original width */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 15px;
    margin-bottom: 15px; /* Add bottom margin to separate image and text */
    vertical-align: middle; /* Align the image vertically */
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}