body {
    background-color: #fff;
    color: #222;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section#Internet_Erforscher_Bild {
    text-align: center;
}

section#Suche {
    margin-bottom: 20px;
}

button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}

body.dark-mode button {
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
